.nav-bar {
  display: flex;
  align-items: center;
  background-color: #343a40; /* Set background color for navbar */
  padding: 0.5rem;
}

.nav-button {
  background-color: #343a40;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-logo {
  font-size: 3rem;
  font-weight: bold;
  color: #f2f0f0; /* Adjust color as needed */
  margin-right: auto;
}
.nav-button:last-child {
  margin-right: 0; /* Remove margin from the last button */
}